<!DOCTYPE html>
<html>
<head>
    <title>Voters List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>

<div class="container">
    <h2>👥 Registered Voters</h2>

    <table border="1" style="width:100%; color:white;">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Address</th>
            <th>Phone</th>
        </tr>

        {% for v in data %}
        <tr>
            <td>{{ v[0] }}</td>
            <td>{{ v[1] }}</td>
            <td>{{ v[2] }}</td>
            <td>{{ v[3] }}</td>
        </tr>
        {% endfor %}
    </table>

    <br>
    <a href="/dashboard">Back</a>
</div>

</body>
</html>